{% extends "base.html.twig" %}

{% block title %}All categories{% endblock %}
{% block body %}
    <h1>Toutes les catégories de séries</h1>

    {% for category in categories %}

        <div>
            <h2>{{ loop.index }} / <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a></h2>
        </div>

    {% else %}

        <p>Aucune série trouvée.</p>

    {% endfor %}

    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    
{% endblock %}